.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #333;
  text-align: center;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(19, 19, 19, 0.5);
  width: 1200px;

  text-align: center;
  margin-top: 40px;
}

.line {
  height: 2px;
  width: 344px;
  background-color: #000;
  margin: 0 auto;
  margin-bottom: 60px;
}

.imgMenu {
  position: relative;
}

.ul {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 348px;
  height: 160px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.li {
  display: flex;
  gap: 14px;
  align-items: center;
}

.liText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #333;
}
